body {
	background-color: green;
	height: 90%;
}
nav{
	text-align: center;
	padding-bottom: 1%;
}

nav>a{
	text-decoration: none;
	color : black;
}
nav>a:hover{
	text-decoration: underline;
}

#map{
height:50%;
margin-bottom: 1%;
}

form{
	text-align: center;
}
#myButton {
	text-align: center;
}

#previous, #next, #save{
	width : 10%;
}

form>label,form>input{
	margin-bottom: 1%;
}

#question{
	width: 30%;
}
#formulaire{
	height: 50%;
}